@import 'vars';
@import 'mixins';

.ctaBanner {
  position: relative;
  color: $white;
  background-color: $pink;
  overflow: hidden;
  text-align: center;
  @include paddingVertical(50px, 100px);

  h4 {
    font-weight: bold;
    @include fontSize(24px, 38px);
  }

  h5 {
    @include marginVertical(20px, 30px);
  }
}

.bg {
  @include absoluteFill;
  @include imageCover;
}

.inner {
  @include relativeAbove;
}

.button {
  @include marginTop(20px);
}
