@import 'vars';
@import 'mixins';

.hero {
  overflow: hidden;
  position: relative;
  color: $white;
  @include atLeastViewportHeight;
  @include paddingTop(120px);
  @include paddingBottom(35px, 50px);
  @include flexCenter;

  h1 {
    @include h1;
  }

  h2 {
    @include fontSize(24px, 30px);
    @include marginVertical(20px, 40px);
  }
}

.bg {
  @include absoluteFill;
  @include imageCover;
}

.inner {
  max-width: 50%;
  @include relativeAbove;
}
