@import 'vars';
@import 'mixins';

.columns {
  display: grid;
  row-gap: 30px;
  text-align: center;
  @include paddingVertical(50px, 100px);
}

.item {
  span {
    @include fontSize(40px, 60px);
  }
  h5 {
    font-weight: bold;
    @include marginTop(20px, 30px);
  }
}

@include tablet {
  .columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 70px;
  }
}
