@import 'vars';
@import 'mixins';

.footer {
  color: $white;
  background-color: $black;
  text-align: center;
  @include paddingVertical(30px, 50px);

  nav {
    color: $middleGrey;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    @include fontSize(12px);
    @include marginTop(20px);
  }

  form {
    display: grid;
    grid-template-columns: 1fr auto;
    @include marginBottom(50px, 100px);

    div {
      display: flex;
    }

    button {
      margin-top: 0;
    }
  }
}

.logo {
  max-width: 100px;
}

:global(html.menuOpen) {
  .footer {
    @include mobileOnly {
      display: none;
    }
  }
}
