.button {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  border: 1px solid $pink;
  transition: {
    property: color, background-color;
    duration: 200ms;
  }
  @include fontSize(14px, 16px);
  @include paddingVertical(20px);
  @include paddingHorizontal(30px);

  &:not(.inverted) {
    color: $white;
    background-color: $pink;
    &:hover {
      color: $pink;
      background-color: transparent;
    }
  }

  &.inverted {
    color: $black;
    &:hover {
      color: $white;
      background-color: $black;
    }
  }

  &.small {
    @include fontSize(16px, 20px);
  }
}
