@import 'vars';
@import 'mixins';

.categories {
  text-align: left;
  @include marginTop(80px, 130px);
  @include marginBottom(50px);

  li {
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 5px solid transparent;
    transition: {
      property: border-color;
      duration: 300ms;
    }

    &:not(:last-child) {
      @include marginRight(16px);
    }

    &:global(.active) {
      border-bottom-color: $black;
    }
  }

  button {
    color: $black;
    display: block;
    @include buttonReset;
    @include heading;
    @include fontSize(24px, 32px);
  }
}

.blogArticle {
  @include paddingVertical(30px, 50px);

  h2 {
    @include titleLabel;
  }
  h3 {
    @include fontSize(22px, 38px);
    @include marginTop(10px, 20px);
    @include marginBottom(20px, 30px);
  }
  p {
    color: $middleGrey;
  }
}

@include mobileOnly {
  .blogArticle {
    p {
      margin-bottom: 30px;
    }
  }
}

@include tablet {
  .blogArticle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 100px;

    &:nth-child(even) {
      > div {
        order: 2;
      }
    }
  }
}
