@import 'vars';
@import 'mixins';

.blogArticleCard {
  @include marginBottom(40px, 54px);

  figure {
    position: relative;

    &::before {
      content: '';
      padding-bottom: 100%;
      display: block;
    }

    img {
      display: block;
      @include imageCover;
      @include absoluteFill;
    }
  }

  h4 {
    @include fontSize(24px);
    @include marginTop(20px, 30px);
  }
}

.imageLink {
  display: block;
}

.imageQuote {
  font-weight: bold;
  line-height: 0.875;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  @include paddingHorizontal(20px);
  @include fontSize(32px);
  @include flexFullCenter;
}

.imageQuoteBackground {
  transform: rotate(-4.3deg);
  @include backgroundColours;
}

.categories {
  @include blogArticleCategoriesPurple;
}

.author {
  font-weight: 300;
  @include fontSize(16px);
  @include marginVertical(14px);
}
