@import 'vars';
@import 'mixins';

.caseStudy {
  @include paddingVertical(30px, 50px);

  h2 {
    @include titleLabel;
  }
  h3 {
    @include fontSize(22px, 38px);
    @include marginTop(10px, 20px);
    @include marginBottom(20px, 30px);
  }
  p {
    color: $middleGrey;
  }
}

@include mobileOnly {
  .caseStudy {
    p {
      margin-bottom: 30px;
    }
  }
}

@include tablet {
  .caseStudy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 100px;

    &:nth-child(even) {
      > div {
        order: 2;
      }
    }
  }
}
