@import 'vars';
@import 'mixins';

.formBox {
  input,
  textarea,
  select {
    background-color: $white;
    border: none;
    font-size: 14px;
    width: 100%;
    @include padding(20px);

    &::placeholder,
    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: $middleGrey;
    }
  }

  select {
    &:invalid {
      color: $middleGrey;
    }
    option {
      font-weight: 300;
    }
  }

  button {
    @include marginTop(30px);
  }
}

.title {
  @include fontSize(24px, 38px);
}

.description {
  color: $middleGrey;
  @include marginTop(20px);
  @include marginBottom(40px);
}

.loading {
  @include width(100px, 200px);
  @include height(100px, 200px);
}
