$fontFoundersGrotesk: 'Founders Grotesk';
$fontCircular: 'Circular Std';
$fontTungsten: 'Tungsten';

$white: #fffbf8;
$black: #141414;
$grey: #929292;
$middleGrey: #c4c4c4;
$lightGrey: #f3f3f3;
$purple: #65318a;
$mauve: #e4bdff;
$orange: #ffa08b;
$orangeLight: #ffb2a1;
$blue: #8de6ff;

$padding: 30px;

$containerWidth: 1000px + $padding * 2;

$sm: 600px;
$md: 769px;
$lg: 1025px;
